<nav  class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a style="width: 20rem; " href="#"><img style="max-width: 15%;" src="" alt="" srcset="../assets/images/hacker.ico"></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="login">Login</a>
          <a class="nav-link" href="createUser">Usuário</a>
          <a class="nav-link" href="editUser">Editar</a>
        </div>
      </div>
    </div>
  </nav>
  
