<body>
 
  <div style="padding-top: 6rem;">
    <div *ngIf=" !loading" style=" float: right;padding-right: 20%; padding-top: 11rem; ">
      <img style=" max-width: 14rem;" src="" alt="" srcset="../assets/images/hacker.png" >
    </div>
    <h1 style="background-color: rgb(48, 77, 173);">Login de Usuário</h1>
    <div style="padding-left: 30%;" *ngIf="loading" class="loading-container">
      <img style=" max-width: 20rem; opacity: 40%; z-index: 999;" src="../assets/images/hackerLoad-3.gif" alt="Loading..." />
    </div>
    <form *ngIf=" !loading" (ngSubmit)="loginUser(cpf.value, password.value)">
      <br><br><br><br>
      <label style="padding-right: 4%;" for="cpf">CPF:</label>
      <input #cpf type="text" id="cpf" ><br>
      <label style="padding-right: 3%;" for="password">Senha:</label>
      <input #password type="password" id="password" ><br><br>
      <button type="submit">Login</button>
      <button ><a href="createUser">Cadrastar</a></button>
    </form>
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

<style>
  body{
    background: linear-gradient(90deg, rgba(20,17,210,1) 5%, rgb(82, 123, 200) 44%);
    color: rgb(107, 221, 206);;
  }
  form{
    padding-left: 20%;
  }

  h1{
    padding-left: 30%;
  }

  button{
    background-color: rgb(93, 156, 30);
    
  }
  html{
    background-color: rgb(48, 77, 173)
  }
  .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
</style>
