<nav class="navbar navbar-expand-lg bg-body-tertiary" style=" position: fixed;width: 100%; z-index: 1;" >
      <div class="container-fluid">
        <button style="color: rgb(107, 221, 206); cursor: pointer;" (click)="check()" >Menu<img style="max-width: 3rem; background:rgb(28, 27, 102)" src="" alt="" srcset="../assets/images/hacker.png"></button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div *ngIf="checkNavBar"  >
            <a style="padding-left: 10%;" href="home">Home</a>
            <a style="padding-left: 10%;" href="login">Login</a>
            <a style="padding-left: 10%;" href="cart">Carrinho</a>
          </div>
        </div>
      </div>
      <img *ngIf="data == true" style="width: 4%;" src="../assets/images/hacker1.png" alt="">
      <div>
        <button type="menu" *ngIf="data == true" (click)="logout()" style="float: inline-start; color: rgb(107, 221, 206); cursor: pointer; width: 8rem;" >Olá   {{user.name}}</button>
      </div>
</nav>

  
