<body>
  <div style="padding-left: 30%;padding-top: 6rem;" *ngIf="loading" class="loading-container">
    <img style=" max-width: 20rem; opacity: 40%; z-index: 999;" src="../assets/images/hackerLoad-3.gif" alt="Loading..." />
  </div>
  <div *ngIf="!loading" style="padding-top: 6rem;">
    <div style=" float: right;padding-right: 20%; padding-top: 9rem;">
      <img style=" max-width: 14rem; " src="" alt="" srcset="../assets/images/hacker.png" >
    </div>
    <h1 style="background-color: rgb(48, 77, 173);">Cadastro de Usuário</h1>
    <form (ngSubmit)="registerUser(name.value, email.value, cpf.value, address.value, password.value)">
      <br><br><br><br>
      <label style="padding-right: 2.85%;" for="name">Nome:</label>
      <input #name type="text" id="name"><br>
      
      <label style="padding-right: 2.92%;" for="email">Email:</label>
      <input #email type="email" id="email"><br>
      
      <label style="padding-right: 4.1%;" for="cpf">CPF:</label>
      <input #cpf type="text" id="cpf" ><br>
      
      <label style="padding-right: 0.5%;" for="address">Endereço:</label>
      <input #address type="text" id="address"><br>
      
      <label style="padding-right: 3%;" for="password">Senha:</label>
      <input #password type="password" id="password" ><br><br>
      
      <button type="submit" class="btn btn-outline-light">Cadastrar</button><br>
      
    </form>
    
  </div><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

<style>
  body{
    background: linear-gradient(90deg, rgba(20,17,210,1) 5%, rgb(82, 123, 200) 44%);
    color: rgb(107, 221, 206);;
  }
  form{
    padding-left: 20%;
  }

  h1{
    padding-left: 30%;
  }

  html{
    background-color: rgb(48, 77, 173)
  }
</style>
