<body style="padding-top: 4rem;">
    <br><H1 style="text-align: center;">Insira os seus dados para criar o seu usuário</H1><br>
    <div class="Corpo do pedido">
        <div style="display: grid; align-content: center ;">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Id</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Cpf</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="inputPassword4">Senha</span>
                <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
        </div>
    </div>
    <div style="text-align: right; margin: 20px; padding-bottom: 20px;">
        <button type="button" class="btn btn-danger" id="Cancelar">Cancelar</button>
        <button type="button" class="btn btn-success" id="Confirmar">Confirmar</button>
    </div>
</body>