body{
    background-position: 100%;
    background: rgb(20,17,210);
    background: linear-gradient(90deg, rgb(107, 105, 224) 13%, rgba(82,130,200,1) 61%);
}
p{
    padding-left: 11px;
    color:black;
}