<div class="cart" style=" padding-top: 6rem ;color: antiquewhite; ">
    <div style="float: inline-start;padding-left: 2rem;"><h5>ITENS DO PEDIDO</h5></div>
    <div style="float: inline-end;padding-right: 2rem;color: rgb(226, 226, 231);"><h5>TOTAL DO PEDIDO R$ : 0,00</h5></div>
    <br><br>  
    <div >
        <div  style="float: inline-start;padding-left: 2rem;max-width: 20%;padding-top: 1%;">
            <img style="max-width: 80%;" src="" alt="" srcset="../assets/images/mouse.png"><br><br>
            <!-- <img style="max-width:     50%;" class="card-img-top"  src="" alt="" srcset="../assets/images/fone-gamer.png"><br>
                <img style="max-width:      50%;" class="card-img-top"  src="" alt="" srcset="../assets/images/Gabinete.png"><br>
                <img style="max-width:       43%;" class="card-img-top"  src="" alt="" srcset="../assets/images/monitor.png"><br>
                <img style="max-width:       60%;" class="card-img-top"  src="" alt="" srcset="../assets/images/teclado.png"><br>
                <img style="max-width: 30%;" class="card-img-top"  src="" alt="" srcset="../assets/images/CadeiraGamer.png"><br> -->
        </div>
        <div  style="float: inline-start; max-width: 30%;">
        <p>Supere seus limites com nosso mouse gamer de alta precisão. Design ergonômico, iluminação RGB e desempenho incrível para a vitória definitiva.</p>
        </div>
        <div style="float: inline-start; padding-left: 5%;padding-top: 2%;">
            <h5>Preço: R$ 0,00</h5>
            <button  class="btn btn-danger">Remover</button>
        </div>
        
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
<style>
    .cart{
    background: rgb(20,17,210);
    background: linear-gradient(90deg, rgba(20,17,210,1) 5%, rgb(19, 53, 116) 44%);
    color: rgb(107, 221, 206);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
</style>
<!-- float:left; padding-left: 1rem; padding-right: 1rem; -->




