form{
    background: rgb(20,17,210);
    background: linear-gradient(90deg, rgba(20,17,210,1) 5%, rgb(82, 123, 200) 44%);
    color: rgb(107, 221, 206);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
input{
    background-color:rgb(158, 158, 199) ;
}
